<!-- HEADER -->
<header class="app__header row">
    <div class="column small-12">
        <img src="/img/logo.jpg" alt="ZooAPI">
        <h1>ZooAPI</h1>
    </div>
</header>

<!-- CONTENT -->
<div class="app__content row">

    <!-- SIDEBAR -->
    <aside class="app__sidebar column small-12 medium-4">
        <h2>Sidebar</h2>
        <ul>
            <li><a href="#">Principal</a></li>
            <li><a href="#zoologicos">Zoológicos</a></li>
            <li><a href="#animales">Animales</a></li>
            <li><a href="#animales/crear">Crear animal</a></li>
            <li><a href="#transacciones">Transacciones</a></li>
        </ul>
    </aside>

    <!-- SECTIONS -->
    <div class="app__sections column small-12 medium-8">

        <!-- PRINCIPAL -->
        <section class="app__section principal"></section>

        <!-- ZOOLÓGICOS -->
        <section class="app__section zoos"></section>

        <!-- ANIMALES -->
        <section class="app__section animals"></section>

        <!-- ANIMALES - CREAR -->
        <section class="app__section animals-create"></section>

        <!-- TRANSACCIONES -->
        <section class="app__section transactions"></section>

    </div>
</div>

<!-- FOOTER -->
<footer class="app__footer row">
    <div class="column small-12">
        <p>&copy; 2016 Red global de zoológicos.</p>
    </div>
</footer>
